

/*NOTICE ME SENPAI*/
/*///////////////////////////////////////*/
/*width of nav bar currently set at 250px*/
/*///////////////////////////////////////*/

/*please do not remove! used by Nina to test nav bar*/
#nav_bar {
    width: 250px;
    height: 100vh;
    background-color: aqua;
    opacity: 0.50;
    position: fixed;
    left: 0;
    padding: 0;
    padding-top: 10vh;
}
#label_top {
    margin-bottom: 20px;   
}
.nav_label {
    text-align: right;
    padding: 10px;
    display: block;
    color: black;
}
.label_highlighted {
    background-color: aliceblue;
}
.regular_content {
    margin-left: 350px;   
}
#header {
    font-size: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.content_container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50vw;
    margin: none;
}
@media screen and (max-width: 1100px){
    #nav_bar { width: 180px; }
    .regular_content { margin-left: 250px; }
    #header { font-size: 60px; }
}
@media screen and (max-width: 750px){
    #nav_bar { width: 130px; }
    .nav_label { font-size: 13px }
    .regular_content { margin-left: 180px; }
    #header { font-size: 50px; }
}
@media screen and (max-width: 560px){
    #nav_bar { display: none; }
    .regular_content { margin-left: 20vh; }
    #header { font-size: 40px; }
    .content_container { width: 60vw; }
    
/*
body {
	font-family: Lora;
}

h1 {
	font-family: Lora;
	font-size: 4em;
	line-height: 0.8em;
	margin-bottom: 0.4em;
	font-weight: 700;
}

h2 {
	font-family: Roboto;
	font-weight: 100;
	font-size: 3em;
}

h3 {
	font-family: Lora;
	font-size: 1em;
	font-style: italic;
}

h4 {
	font-family: Roboto;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 0;
}

h4 b {
	font-weight: 500;
}

.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('http://dailybruin.com/images/2016/05/prime.refugee.photo1_.jpg') no-repeat scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.landing-content {
	background-color: rgba(255,255,255,0.4);
	padding: 2em;
	margin-top: 25vh;
}

.landing-content:hover {
	background-color: rgba(255,255,255,0.5);
}

.section {
	margin-top: 3em;
	margin-bottom: 3em;
}*/
